@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide the scrollbar while keeping scrolling functional */
body {
    overflow: auto; /* Keeps scrolling enabled */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  